<article *ngIf="peak">
  <header><h2>Edit peak</h2></header>

  <form class="container" #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="name">Name:</label>
          <input id="name" name="name" [(ngModel)]="peak.name"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="height">Height:</label>
          <input id="height" name="height" [(ngModel)]="peak.height"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <fieldset *ngIf="ranges">
          <legend>Range:</legend>
          <div *ngFor="let range of ranges.ranges">
            <label>
              <input type="radio" name="range" [(ngModel)]="peak.range" [value]="range.id"/>
              {{range.name}}
            </label>
          </div>
        </fieldset>
      </div>
    </div>


    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Update</button>
      </div>
      <div class="col-2 p-2">
        <button type="button" (click)="form.resetForm(original)">Reset</button>
      </div>
    </div>
  </form>
</article>
