<article class="text--justified">
  <header><h2>Ranges</h2></header>

  <table *ngIf="ranges">
    <thead>
    <tr>
      <th>Name</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let range of ranges.ranges">
      <td>{{range.name}}</td>
      <td>
        <a [routerLink]="['/ranges', range.id]">View</a>
      </td>
      <td>
        <a [routerLink]="['/ranges', range.id, 'edit']">Edit</a>
      </td>
      <td>
        <button (click)="onDelete(range)">Delete</button>
      </td>
    </tr>
    <tr>
      <td>
        <a  [routerLink]="['/ranges', 'create']">Create</a>
      </td>
    </tr>
    </tbody>
  </table>
</article>
